<a href="/insta/connect">Sing in with Instagram</a>

<div class="open">
  <% @popular.each do |media| %>


    <p><%= image_tag(media.user.profile_picture, :style => 'width: 50px;') %></p>
    <p><%= media.user.username %></p>

    <p><%= link_to image_tag(media.images.low_resolution.url), media.link %></p>


  <% end %>

</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="I just unfollowed some from Instagram with this app" data-via="instadropit" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>