<div id="container">
  <h1>Please wait, loading</h1>
  <iframe src="http://smcgillen.github.io/kaleidos/?n=7&clean=true&src=<%= @avatar %>" width="100%" height="800"></iframe>
</div>

<script>
$(document).ready(function () {
  $.ajax({
    method: 'GET',
    url: '/load/'
  }).done(function (html) {
    $('#container').html(html);
  });
});
</script>