// Place all the styles related to the instagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

.home {
  margin: 40px auto 0;
  width: 960px;
}

.open {
  text-align: center;

}

li {
  display: block;
}

.bar-width{
  text-align: center;
}

.image {
  display: inline-block;
  width: 25%;
}

.id {
  font-style: italic;
  margin: 0 10px;
}

.word {
  font-weight: bold;
}

.followsyou {
  font-weight: bold;
  color: green;
  font-size: 20px;
}



.yes {
  font-weight: bold;
  color: green;

}
.profile {
  width: 125px;
  height: 125px;
}

.details {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  color: black;
}

.yes {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  color: black;
  font-weight: bold;
  color: green;

}



.controls {
  display: inline-block;
  width: 25%;
}

ul {
  list-style: none;
}

.toggle-light .toggle-select .toggle-inner .active {
  background-color: red;
}

.toggle-light .toggle-select .toggle-inner .toggle-on.active {
  background-color: green;
}


.buttons span {
    display: block;
    border-radius: 1em;
    width: 10em;
    padding: 0.5em;
    text-align: center;
    color: white;
    display: none;
}

.buttons span.active {
    display: block;
}


.follow {
    background-color: green;
}

.unfollow {
    background-color: red;
}


.nav {
  width: 100%;
  position: fixed;
}

/*.green {
  background-color: green;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  width: 120px;
  }*/

#container {
  position: relative;
}

#container iframe {
  border: 0;
}

#container h1 {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 15px #000;
  text-align: center;
  width: 100%;
}

#donate {
  display: none;
  position: fixed;
  right: 8%;
  top: 70%;
}