<div class="fixed">
  <nav class="top-bar bar-width">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"> InstaDrop - Where to unfollow on instagram </a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="right">
        <% if session[:access_token].present? %>
        <a href='/logout'>Logout</a>
        <% else %>
        <a href="/insta/connect">Sign in with Instagram</a>
        <% end %>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Just Dropped my following on Instagram with this app" data-via="instadropit" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </ul>
    </section>
  </nav>
</div>

<a href="https://github.com/smcgillen/insta"><img style="position: fixed; top: 45px; right: 0px; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
